{% extends "base.html" %}
{% block head %} 
    {% block title %}Interview - {{ self.interviewName }} {% endblock %}
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='interview.css') }}">
    <script src="{{ url_for('static', filename='audiolevel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='audiolevel.css') }}">
    <script src="{{ url_for('static', filename='interview.js') }}"></script>
    <script src="{{ url_for('static', filename='wait-promise.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-git.js') }}"></script>
    <script src="{{ url_for('static', filename='vizual.js') }}"></script>
    <script type=”application/json” id="questions">
    {{ json | safe}}
    </script>
{% endblock %}
{% block content %}


<div class="header">
    <a class="active" href="#home">Домой</a>
    <a href="#help">Помощь</a>
    <a href="#contact">Контакты</a>
    <a href="#about">О нас</a>
</div>


<div id="welcome" class="tabcontent">
    <a href="#" class="glo" onclick="openTab( 'stream')">Пройти интервью</a>
</div>


<div id="stream" class="tabcontent">
<div class="downBlock">

    <!-- Video block / Видео блок -->
    <div class="left panel ">
        <video id="preview" width="320" height="240" autoplay muted></video>
        <video id="recording" width="160" height="120" controls></video>
        <h2 id="question" class="h" >Текущий вопрос:</h2>
        <p id="testP" class="text">Здесь будет вопрос.</p>
        <button  class="button" id="nextButton"  >Начать опрос</button >
       <div class="text" data-action="time">Время: <span class="timer" data-content="time">0.0</span> сек.</div>

    </div>

    <!-- Buttons / Кнопки -->
    <div class="center panel ">
        <div id="testButton" class="button">Тест</div>
        <div id="stopButton" class="button">Стоп</div>
        <a id="downloadButton" class="button">Скачать</a>
    </div>

    <!-- Setting / Настройка -->
    <div class="right panel" >
        <p id="option" class="h" >Настройка:</p>
        <div class="text selec" >Selected video:</div>
        <select id="select" class="selecter"><option value="">Список устройств пуст.</option></select>
        <div class="text selec">Selected audio:</div>
        <select id="selectAudio" class="selecter"><option value="">Список устройств пуст.</option></select>
        <div class="microTestBlock">
        <div class="level-monitor"><div class="indicator"></div></div>
        <div class="percent"></div>
        </div>
    </div>

</div>
</div>


{% endblock %}